.inputbox {
  height: 42px;
  width: 316px;
  left: 0px;
  top: 22px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #fcfdfe;
  border: 1px solid #f0f1f7;
}

.inputText {
  height: 20px;
  top: 33px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;

  color: #4b506d;

  opacity: 0.4;
}

.icon {
  border: none;
  background: #fcfdfe;
}
