.sidebarItem {
  display: flex;
  align-items: center;
  height: 56px;
  width: 254.99998474121094px;
}

.sidebarItem-icon {
  height: 10.67px;
  width: 16px;
  margin-left: 32px;
  background: #9fa2b4;
  opacity: 0.4;
}

.sidebarItem-title {
  height: 20px;
  width: 159px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #a4a6b3;
  margin-left: 24px;
}

.sidebarItem:hover {
  background: #9fa2b4;
  opacity: 0.8;
}

.sidebarItem:hover .sidebarItem-icon {
  background: #dde2ff;
}

.sidebarItem:hover .sidebarItem-title {
  color: white;
}
